.quotes.quotes_bottom.bgWhite
  .quotes__container.container
    .quotes__container-text.container_text
      p.quotes__text
        | "I can highly recommend Alan's Feng Shui course. His classes are a
        | perfect combination of being both insightful and engaging, something
        | which has not only facilitated me in gaining a deep insight into this
        | topic but has made it a real joy. I have felt both inspired and supported
        | by Alan and had the confidence to continue and launch my own business.
        | I can't thank him enough!"
        br
        span.italic Jana Class of 2017- UK
      p.quotes__text
        | “Your feng shui course gives the clearest, most intelligent explanation
        | of Feng Shui I have ever read. I am completely thrilled. Especially as
        | you separate true Feng Shui and the faux Feng Shui which I call "petit
        br
        span.italic Feng Shui."
      p.quotes__text
        | Having taken several other on-line courses, as well as other classroom
        | studies and I believe I'm in a position to comment on your feng shui
        | course, which I find rich in theory (which other courses lack), well-composed,
        | and well-worth the cost."
        br
        span.italic Evangelia - Jo'burg, S Africa
