.bamboo.section
  .bamboo__container.container
    .bamboo__text-container.container_text
      .bamboo__text.photosPhrase__text.textLeft
        p.bamboo__text-img.img.textMedium
          | Attention:
          br
          | Those Seeking The Truth About Feng Shui
          br
          | (And the Adventure Awaiting within Your Home)
        P.bamboo__text-img.img.textBig
          | ﻿Discover the Comprehensive System That True Feng Shui Masters Use to Get Real
          br
          | Results and Rave Reviews
        p.bamboo__text-img.img.textMedium
          |﻿ Skip The Trinkets and Wishful Thinking
          br
          | So You Can Finally Secure Lasting Feng Shui
          br
          |Results
