.bamboo__text-container {
  width: 100%;
  height: 600px;
  background-image: url(../images/bg/bambo.jpg);
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-size: cover;
}

.bamboo__text {
  max-width: 75%;
}

.bamboo__text-img.img.textMedium {
  font-size: 29px;
  line-height: 1.3;
}

.bamboo__text-img.img.textBig {
  font-size: 48px;
}

@media screen and (max-width: 1000px) {
  .bamboo__text-img.img.textMedium {
    font-size: 25px;
  }

  .bamboo__text-img.img.textBig {
    font-size: 42px;
  }
}


@media screen and (max-width: 890px) {
  .bamboo__text {
    max-width: 90%;
  }
  .bamboo__text-img.img.textMedium {
    font-size: 20px;
  }

  .bamboo__text-img.img.textBig {
    font-size: 35px;
  }
}
