.bamboo__text-container {
  width: 100%;
  height: 600px;
  background-image: url(../images/bg/bambo.jpg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.bamboo__text {
  max-width: 800px;
}
