.quotes__container-text {
  background-color: rgb(64,54,144);
}

.quotes__title {
  max-width: 600px;
  margin: 0 auto 30px;
  color: white;
  font-weight: 600;
  text-align: center;
}

.quotes__text {
  color: white;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
}

.quotes_bottom {
  padding: 20px 0;
}
.quotes_last {
  padding: 20px 0 100px;
}
