@import 'navigationList';
@import 'navigationDescription';


.navigation {
  z-index: 0;
}


.navigation__btn {
  z-index: 0;
  width: 100%;
  height: 50px;
  cursor: pointer;
  display: none;
}

.navigation__btn-svg.open {
  fill: gray
}

.navigation__btn:hover .navigation__btn-svg {
  fill: gray
}

.navigation__btn-svg {
  position: relative;
  width: 30px;
  padding: 10px 0;
  fill: white;
}

//@keyframes buttonJumping {
//  0% {
//    top: 0;
//  }
//  50% {
//    top: 10%;
//  }
//  100% {
//    top: 0;
//  }
//}
