.quotes.quotes_bottom.bgWhite.quotes_last
  .quotes__container.container
    .quotes__container-text.container_text
      p.quotes__text
        | “I've read books and practiced with my own home for the last 12 years
        | and I learned more in the first 15 pages of this course than in that
        | entire time."
        br
        span.italic PJ Dix - USA
      p.quotes__text
        | “This course has far exceeded my expectations in many ways, based
        | on my experience of other courses to develop knowledge of a
        | particular subject. The friendship and camaraderie of the class, sheer
        | volume of information and learning and Alan's all-knowing omnipotence
        | for feng shui has been outstanding and reassuring every step of the way”
        br
        span.italic Anne-Marie Class of 2017- UK
      p.quotes__text
        | “Thank you for the amazing Feng Shui journey!”
        br
        span.italic NF Feng Shui Consultant - UK
      p.quotes__text
        | “It was a pleasure to be studying under the guidance of a real
        | professional. One simply couldn't learn more about authentic Feng
        | Shui and Chinese astrology in a year anywhere else."
        br
        span.italic YLF - Singapore
