.sprout.photosPhrase.section
  .photosPhrase__container.container
    .photosPhrase__text-container.container_text(style='background-image: url(./images/bg/sprout.jpg)')
      .photosPhrase__text.img.textBig.textLeft
        | ﻿The Fateful Day That I Stumbled<br/>
        | Upon the Mysterious Feng Shui<br/>
        | Master Who Knew the (Highly<br/>
        | Guarded) Proven & Predictable<br/>
        | Systems That Generate Real<br/>
        | Results, Time After Time<br/>
