.sprout {
  color: #000 !important;
  .photosPhrase__text-container {
    background-position: 0% 70%;
    background-size: 120%;
  }
}
@media screen and (max-width: 770px) {
  .sprout {
    .photosPhrase__text-container {
      background-size: cover;
    }
  }
}
@media screen and (max-width: 660px) {
  .sprout .img.textBig {
    font-size: 30px;
  }
}
