.quotes.section
  .quotes__container.container
    .quotes__container-text.container_text
      .quotes__title.textTitleBig
        | ﻿Here is some of what our students and clients think of true feng shui
      p.quotes__text
        | "Feng shui results have been spectacular! If you ever have any
        | non-believers, give them my contact details and I will tell them how the
        | house felt after our consultation. My daughter and I are walking around
        | saying WOW to each other!"
        br
        span.italic SC – Uttoxeter
      p.quotes__text
        | "span.italici Alan, well you span.italicavespan.italicworked your magic as a Feng Shui consultant
        | on my house - it is sold subject to contract! Thank you SO much for all
        | you have done."
        br
        span.italic Penny UK
      p.quotes__text
        | "span.italicll remediesspan.italicwerspan.italic completed by Thursday and on the Saturday I got 3
        | offers. So hey presto, sold. I know you will not be surprised by this but
        | I'm still shocked, it really is the first time I've ever experienced feng
        | shui working so powerfully!"
        br
        span.italic LG - Surrey
      p.quotes__text
        | "We placed the water feature where advised and the energy feels
        | miraculous - it has been one of those special moments in life when
        | words fail."
        br
        span.italic Chris - UK
      p.quotes__text
        | "Since Alan visited last year, many aspects of our lives have improved.
        | Relations are more harmonious with little effort from us. My own
        | business has got busier. It's amazing!"
        br
        span.italic T.S. - Gillingham UK
      p.quotes__text
        | "I am very impressed with your feng shui consultation report I had
        | goosebumps while reading it!"
        | Online feng shui consultation
        | "I've got to admit that before Alan arrived I was a bit dubious about
        | Feng Shui and was very narrow minded about what it could do for us.
        | But as soon as I read my personal profile I could see that Alan knew
        | his stuff, as it was frighteningly accurate, even my wife thought so. As
        | Alan talked me through what the Feng Shui consultation would involve
        | he mentioned that most of the measures we could take were based on
        | common sense and in retrospect I can see he was right. After the visit
        | there was a lot of interest from both clients and staff and I was
        | surprised by the interest in feng shui. Overall we picked up a lot, it
        | really is worth having a go after all. You may be dubious to begin with
        | but an expert like Alan can, not only help with the most complex
        | principles of feng shui, but can point out the really obvious common
        | sense things that maybe you wouldn't otherwise have realised."
        br
        span.italic Kevin Smith - Holga Ltd
      p.quotes__text
        | "My 3 daughters used to argue constantly, but since implementing the
        | changes from our feng shui consultation there has been no arguing at
        | all! And also my parrot has calmed right down."
        br
        span.italic Ajay - London, UK
