.bonuses.bgBonuses
  .bonuses__container.container
    .bonuses__container-content
      h2.bonuses__title Inspired Action Bonuses
      h3.bonuses__title-description.italic
        | Take Action Now and <br/>
        | Receive These Bonuses Free with Your Program Purchase
      include cards
      include photoText
      include price
      include ../buyBtn/buyBtn
