.bonuses__cards.section
  .bonuses__card
    .bonuses__card-header
      .bonuses__card-name Bonus 1
      .bonuses__card-title Email Support Forum
    .bonuses__card-main
      p.bonuses__card-main-text
        | Once enrolled onto the 7 Steps
        | to feng Shui Mastery
        | programme, you receive free
        | student support via our
        | dedicated Email forum. Share
        | your experiences with other
        | students and receive tips and
        | advice from our Feng Shui
        | experts! There will also be
        | regular online sessions with
        | Master Alan in person where
        | you can ask questions in real
        | time.
  .bonuses__card
    .bonuses__card-header
      .bonuses__card-name Bonus 2
      .bonuses__card-title
        | “Members Only”<br/>
        | Private<br/>
        | Facebook Group<br/>
    .bonuses__card-main
      p.bonuses__card-main-text
        | Share your experiences and
        | learn with fellow students from
        | all over the world.
      img.bonuses__card-img(src='./images/Facebook.jpg' alt='fb')
  .bonuses__card
    .bonuses__card-header
      .bonuses__card-name Bonus 3
      .bonuses__card-title
        | Access to The Accredited<br/>
        | Feng Shui Consultant<br/>
        | Certification Opportunity<br/>
    .bonuses__card-main
      p.bonuses__card-main-text
        | Upon completion of the Seven
        | Steps to Mastery Feng Shui
        | course and on passing the
        | final exam, you will become an
        | Accredited Feng Shui
        | Consultant and entitled to use
        | the letters
        b
          | &nbsp;RCFSI (Recommended Consultant Feng Shui Institute).&nbsp;
        | Selected students may also
        | become accredited
        b
          | &nbsp;FSI Instructors&nbsp;
        | and teach
        | Accredited Feng Shui in their
        | local area.
