.photosPhrase.section
  .photosPhrase__container
    .photosPhrase__text-container.photoText-bg.container_text(style='background-image: url(./images/bg/water2.jpg)')
      .photosPhrase__text.bonuses
        h3.photoText__text.photoText__text-1
          | Tuition for The True Feng Shui School of Excellence
        h3.photoText__text.photoText__text-2.italic
          | Gain This Master Skill and Use it for a Lifetime<br/><br/>
        h3.photoText__text.photoText__text-3.italic
          | We have purposely kept the cost low so that more
          | people can afford this extremely comprehensive training
