.photoText__text {
  font-size: 35px;
  margin: 0;
}

.photoText__text-1, .photoText__text-2 {
  color: black
}

.photoText__text-2 {
  font-weight: 500;
}

.photoText__text-3 {
  color: rgb(64,54,144);
  font-weight: 500;
}
