.price
  .price__container.container
    ul.price__list
      li.price__item
        .price__item_card
          h3.price__item-title.small-caps Option ONE
          .price__item-text
            p
              | Buy the
              strong  Complete
              |  Feng Shui Masters course
            p Consisting of:
            ol
              li 1 Feng Shui Key Concepts module
              li 2 Dowsing & Earth Acupuncture module
              li 3 Nine Star Ki Astrology module
              li 4 Business & Office Feng Shui module
              li 5 Advanced I Ching & Wen Wang Gua module
              li 6 Advanced Flying Star Feng Shui module
              li 7 Advanced Four Pillars of Destiny Chinese Astrology module
            p
              | For the
              strong  AMAZING
              |  price of just £1570.00 saving more than £700.00
            p
              | Including these
              strong  FREE
              strong.small-caps  bonuses
            ul
              li Free student support via our dedicated Email forum
              li Share your experiences with other students and receive tips and advice from our Feng Shui experts!
              li Attend regular online sessions with Master Alan in person where you can ask questions in real time.
              li Join our exclusive Facebook page and get inspired from fellow students and our feng shui consultants from all over the world.
              li
                | Become an
                strong  Accredited Feng Shui
                |  Consultant and entitled to use the letters
                strong  RCFSI (Registered Consultant Feng Shui Institute). 
              li
                | Selected students may also become accredited
                strong  FSI Instructors
                |  and teach
        form(target='paypal', action='https://www.paypal.com/cgi-bin/webscr', method='post')
          input(type='hidden', name='cmd', value='_cart')
          input(type='hidden', name='business', value='example@mail.com')
          input(type='hidden', name='lc', value='GB')
          input(type='hidden', name='item_name', value='Feng Shui Masters course. Option One')
          input(type='hidden', name='amount', value='1570.00')
          input(type='hidden', name='currency_code', value='GBP')
          input(type='hidden', name='button_subtype', value='products')
          input(type='hidden', name='no_note', value='0')
          input(type='hidden', name='add', value='1')
          input.price__btn_pay(type='submit' value='Add to cart')
      li.price__item
        .price__item_card
          h3.price__item-title.small-caps Option TWO
          .price__item-text
            p
              | Try the
              strong  key Concepts Course first
              |  by taking
            p
              strong Option Three
              | then take steps 2 – 7
            ol
              li 2 Dowsing & Earth Acupuncture module
              li 3 Nine Star Ki Astrology module
              li 4 Business & Office Feng Shui module
              li 5 Advanced I Ching & Wen Wang Gua module
              li 6 Advanced Flying Star Feng Shui module
              li 7 Advanced Four Pillars of Destiny Chinese Astrology module
            p
              | For the
              strong  AMAZING
              |  price of just £1480.00 saving more than £600.00
            p
              | Including these
              strong  FREE
              strong.small-caps  bonuses
            ul
              li Free student support via our dedicated Email forum
              li Share your experiences with other students and receive tips and advice from our Feng Shui experts!
              li Attend regular online sessions with Master Alan in person where you can ask questions in real time.
              li Join our exclusive Facebook page and get inspired from fellow students and our feng shui consultants from all over the world.
              li
                | Become an
                strong  Accredited Feng Shui
                |  Consultant and entitled to use the letters
                strong  RCFSI (Registered Consultant Feng Shui Institute). 
              li
                | Selected students may also become accredited
                strong  FSI Instructors
                |  and teach Accredited Feng Shui in their local area.
        form(target='paypal', action='https://www.paypal.com/cgi-bin/webscr', method='post')
          input(type='hidden', name='cmd', value='_cart')
          input(type='hidden', name='business', value='example@mail.com')
          input(type='hidden', name='lc', value='GB')
          input(type='hidden', name='item_name', value='Feng Shui Masters course. Option Two.')
          input(type='hidden', name='amount', value='1480.00')
          input(type='hidden', name='currency_code', value='GBP')
          input(type='hidden', name='button_subtype', value='products')
          input(type='hidden', name='no_note', value='0')
          input(type='hidden', name='add', value='1')
          input.price__btn_pay(type='submit' value='Add to cart')
      li.price__item
        .price__item_card
          h3.price__item-title.small-caps Option THREE
          .price__item-text
            p Buy the key Concepts Course for just £94.00 then either take steps 2 – 7 or pay as you learn up to module Five, when you will be assessed on your understanding  before being allowed to progress to the advanced stages and accreditation.
            p You will also pay the following cost for each step/module
            ol
              li 1 Feng Shui Key Concepts module special introductory price of £94.00
              li 2 Dowsing & Earth Acupuncture module	 £184.00
              li 3 Nine Star Ki Astrology module £184.00
              li 4 Business & Office Feng Shui module £184.00
              li 5 Advanced I Ching & Wen Wang Gua module £544.00
              li 6 Advanced Flying Star Feng Shui module £544.00
              li 7 Advanced Four Pillars of Destiny Chinese Astrology module £544.00
        form(target='paypal', action='https://www.paypal.com/cgi-bin/webscr', method='post')
          input(type='hidden', name='cmd', value='_cart')
          input(type='hidden', name='business', value='example@mail.com')
          input(type='hidden', name='lc', value='GB')
          input(type='hidden', name='item_name', value='Feng Shui Masters course. Option Three.')
          input(type='hidden', name='amount', value='94.00')
          input(type='hidden', name='currency_code', value='GBP')
          input(type='hidden', name='button_subtype', value='products')
          input(type='hidden', name='no_note', value='0')
          input(type='hidden', name='add', value='1')
          input.price__btn_pay(type='submit' value='Add to cart')
