.price
  .price__container.container_text
    .price__list
      .price__item
        p.price__item-description
          | When bought individually the total cost of these seven levels is £2278.00<br/>
          | However, buy them all together and save an incredible £700
        p.price__item-main Making the cost just £1570.00
      .price__item
        p.price__item-description
          | We are so convinced that this is the best feng shui course out there, we will
          | let you try it first by taking Step 1 - Key Concepts course at just
        p.price__item-main £94.00
      .price__item
        p.price__item-description
          | We know that you will find this so powerful and easy to get great results
          | from, that we will still offer you the bulk buy advantage of buying the
          | remaining modules Steps 2-7 for just
        p.price__item-main.price__item-main_no-marg £1480.00
        p.price__item-description representing incredible value for such professional training.
