.price {
  //background-color: white;
  padding-top: 50px;
  padding-bottom: 50px;
}

.price__list {
  list-style-type: none;
  padding: 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.price__item {
  font-family: Calibri, 'Lato', sans-serif;
  width: 32%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;


  .price__item_card {
    width: 100%;
    background-color: white;
    //border: 1px solid rgba(50, 91, 134, 1.00);
    //border-radius: 50px;
    color: black;
    margin-bottom: 30px;
  }

  .price__item-title {
    height: 150px;
    font-size: 40px;
    text-align: center;
    color: white;
    margin: 0;
    padding-top: 25px;
    background-color: #e29c62;
    width: 100%;
  }
  .price__item-text {
    padding: 25px;
  }

  p, li {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 0px;
    font-weight: 400;
  }

  ol {
    padding: 0;
    list-style-type: none;
  }

  ul {
    list-style-type: disc;
  }
  strong {
    font-weight: 900;
  }

  .small-caps {
    font-variant: small-caps;
  }

  .price__btn_pay {
    position: relative;
    width: 160px;
    height: 40px;
    font-variant: small-caps;
    font-size: 20px;
    background-color: white;
    //border: 1px solid rgba(50, 91, 134, 1.00);
    //border-radius: 8px;
    border: none;
    color: black;
    font-weight: 700;
    cursor: pointer;
  }
}

@media screen and (max-width: 930px) {
  .price__list {
    flex-direction: column;
    align-items: center;
  }

  .price__item {
    width: 60%;
  }
}

@media screen and (max-width: 570px) {

  .price__item {
    width: 90%;
  }
}
