.textSection__
  .textSection__container.container
    .textSection__text-container.container_text.bgWhite
      h4.textTitleMedium
        | ﻿Unfortunately, most feng shui is shrouded in mystery, superstition or
        | unscrupulously used by  traders to sell trinkets and baubles to make their own dreams come true. Alternatively, good information is drip fed to maximise profits.
      p
        | ﻿As feng shui is shrouded in secrecy, anyone can say that it is feng shui, but that doesn’t make it right - and doesn’t mean you will get positive results.
      p
        | ﻿Also our program is the only one that explains how feng shui works in practical and natural
        | scientific terms, so that it can be explained and understood by everyone.
      h4.textTitleMedium
        | ﻿Below are a couple examples of wrong feng shui:
      ol
        li
          p
            | ﻿Staff refused to work at The Governor's Palace in Hong Kong
            | because of bad feng shui coming from the Bank of China.
            | They called in a feng shui master who recommended the
            | wrong cure and made their situation even worse. Arguing
            | fighting and no work being done continued until a True Feng
            | Shui professional correctly analysed the issue, changed the
            | cure and solved the problem. Harmony, efficiency and morale
            | was restored.
        li
          p
            | ﻿Another example of wrong feng shui advice. - a client had
            | been told by a so called feng shui master that in order to sell
            | their home they had to undergo major structural work costing
            | £25,000.00. However, after a true Feng Shui consultation
            | minor changes (costing nothing) were made within the home
            | which balanced the energy and the house sold shortly
            | afterwards.
      p
        | ﻿The Chinese view feng shui as an extremely powerful way of perpetuating their families
        | prosperity for future generations.  Consequently, True feng shui masters only traditionally taught just one of their children,  and it was shrouded in mystery to all others, even  their own family.
      p.italic
        | ﻿﻿However, these outsiders just saw feng shui being applied, but did not know  why or even how.
      p
        | ﻿They  tried to explain the effects using  superstition to sell trinkets, which rely on your faith, rather than reason or even common sense. Or they “drip feed” the little information they have over a long period of time, which indoctrinates you into believing that even the slightest
        | improvement.. is a miracle!
