.photosPhrase__container.container
  .photosPhrase__text-container.container_text(style='background-image: url(./images/bg/autumn.jpg)')
    .photosPhrase__text
      p.photosPhrase__text-shadow.img.textBig.italic
        | As previously mentioned the energy in our
        | environment is affecting our wellbeing and quality of
        | life, it can help us achieve our hopes and aspirations
        | and be everything that we want to be. Not taking
        | advantage of these beneficial influences is like letting
        | opportunities slip through our fingers.
      p.photosPhrase__text-shadow.img.textBig.italic
        | I came into feng shui by fate and it changed my life and
        | destiny on all levels for the better. I cannot imagine
        | what my life would have been like if i had not done so.
      p.photosPhrase__text-shadow.img.textBig.italic
        | We live in a world of constant change-make yours
        | now and by going with the flow to become a feng shui
        | professional, or just change your life for the better, by
        | taking this course!
