.photosPhrase.section
  .photosPhrase__container.container
    .photosPhrase__text-container.container_text(style='background-image: url(./images/bg/feng.jpg)')
      .photosPhrase__text.img.textBig.textTitleBig-fw500
        | With Decades of Results Producing An Effortless Flow of Endorsements…<br/><br/>
        b
          | The Feng Shui Institute Certification Program Is The Clear Leader
