.header
  .header__container.container
    a.header__logo.logo(href='#')
      img.logo__img(src='./images/logo.jpg' alt='logo')
      .logo__text
        h1.logo__name Feng Shui Institute
        h3.logo__name-description The Natural Home of Feng Shui
    .header__share.share
      a.share__icon.share__icon_facebook( href='#' style='background-image: url("./images/social/facebook_32.png")')
      a.share__icon.share__icon_twitter( href='#' style='background-image: url("./images/social/twitter_32.png")')
      a.share__icon.share__icon_linkedin( href='#' style='background-image: url("./images/social/linkedin_32.png")')
      a.share__icon.share__icon_sharethis( href='#' style='background-image: url("./images/social/sharethis_32.png")')
      a.share__icon.share__icon_google-bmarks( href='#' style='background-image: url("./images/social/google_bmarks_32.png")')
      a.share__icon.share__icon_email( href='#' style='background-image: url("./images/social/email_32.png")')
