.photosPhrase
  .photosPhrase__container.container
    .photosPhrase__text-container.container_text(style='background-image: url(./images/bg/grass.jpg)')
      .photosPhrase__text
        p.photosPhrase__text-shadow.img.textBig.italic
          | With Decades of Student Success...<br>
          | We Stand Strongly Behind Our Training
        p.photosPhrase__text-shadow.img.textBig.italic
          | We are so confident about the quality and effectiveness
          | of this professional training, that we allow you to try it
          | by taking just the first step and then committing to the
          | full program, yet still get the huge bulk buy discount!
        p.photosPhrase__text-shadow.img.textBig.italic
          | However, if you are still cautious or have financial
          | restraints, you can take each course or step as when
          | you are able. There is no currently no time
          | constraints and you can study at your leisure, whilst
          | still receiving our full support.
