.quotes.section
  .quotes__container.container
    .quotes__container-text.container_text
      p.quotes__text
        | “I just like to say a big "thank you " for being my Feng Shui Teacher for
        | the past year. I have found your class informative, constructive, interesting
        | and lots of fun. Each month we are presented with a different
        | topic, some more challenging than others. Just as we think we have
        | grasped the idea, you would add another layer on top making it more
        | interesting and challenging. However, you are very patient and reassuring.
        | You have a unique way of making things easy to understand.
        | Then surely just like you said, as if you have waved a magic wand; like
        | that part of a jigsaw puzzle, everything that we've learnt just falls into
        | place - MAGIC!!!!!”
        br
        span.italic Krisz Class of 2017- UK
      p.quotes__text
        | “You are a very good teacher and have vast knowledge not just in
        | Feng Shui but in the university of life. I would recommend your course
        | to anyone who genuinely has an interest in Feng Shui. They will be
        | fascinated by the ancient Chinese philosophy and how it affects us
        | without us being aware. It will open their minds to a whole new approach
        | in the perspective of life. Thank you once again.”
        br
        span.italic Krisz Class of 2017- UK
      p.quotes__text
        | “Your course gives the clearest, most intelligent explanation of Feng
        | shui I have ever read. I am completely thrilled. Especially the fact that
        | you do separate true Feng shui and the faux feng shui which I call petit
        | Feng shui.”
        br
        span.italic MC - USA
      p.quotes__text
        | “Firstly let me say how much I am enjoying studying your course. I
        | have been looking for quite a while for the right one and am thoroughly
        | delighted in my final choice."
        br
        span.italic EH - USA
