.textSection
  .textSection__container.container
    .textSection__container-text.container_text.bgWhite
      h4.textTitleMedium
        | ﻿As you are changing and influencing  the energy around you, the effects can be felt very quickly indeed. These tend to change your overall
        | outlook enabling you to deal with the outside world much more
        | positively. You tend to think clearer and make better decisions, whilst sleep and overall health and wellbeing tend to improve too.
      p
        | ﻿Our students have also reported “miraculos results in a matter of days”, including selling a house that had previously been on the market for years, to winning the lottery jackpot TWICE in a matter of months.
      p
        | ﻿A Police commissioner recovered from a brain tumour in a very short period of time. His wife became a student after witnessing the power of true feng shui.
      p
        | ﻿After a consultation using true feng shui, a client sold a chemical process he had refined for £30 million-way above expectations.
      p
        | ﻿A busy female executive, with little time to go out and meet new people, met the love of her life when he called at her door to find the previous occupants!
