.candle.photosPhrase.section
  .photosPhrase__container.container
    .photosPhrase__text-container.container_text(style='background-image: url(./images/bg/candle.jpg)')
      .photosPhrase__text.img.textBig
        | ﻿Introducing:
        br
        | The Feng Shui Institute Certification
        br
        | Home Study Course
