mixin photosPhrase(img, text)
  .photosPhrase.section
    .photosPhrase__container.container
      .photosPhrase__text-container.container_text(style='background-image: url(#{img})')
        .photosPhrase__text.img.textBig= text
