.textSection
  .textSection__container.container
    .textSection__text-container.container_text.bgWhite
      p
        | Through Alan Stirlings background in communication these feng shui courses have all been
        | demystified and superstitions fully explained and transformed into common sense, practical
        | techniques and easily adaptable methods, all to ensure success... wherever practiced.
      p
        | Interactive multi media has been used to make the most difficult concepts easier to learn,
        | understand and apply. They are available cross platform.
