.photosPhrase.section
    .photosPhrase__container.container
      .photosPhrase__text-container.container_text(style='background-image: url(./images/bg/pebble.jpg)')
        .photosPhrase__text.img.textBig
          | Use New Interactive Training Tools<br/>
          | (Incorporated into The Course)<br/>
          | To Learn This Ancient Art<br/>
          | With Modern Precision & Ease<br/>
