.photosPhrase.section
  .photosPhrase__container.container
    .photosPhrase__text-container.container_text(style='background-image: url(./images/bg/sunset.jpg)')
      .photosPhrase__text.img.textBig
        | ﻿The world is saturated with incorrect “Feng Shui” information...<br/>
        | ...and although well intentioned,
        | using these false methods is not only
        | ineffective… <br/><br/>
        |...It’s Dangerous
