.textSection
  .textSection__container.container
    .textSection__text-container.container_text.bgWhite
      p
        | In a very short period of time you will be aware of how and why your environment directly
        | affects your happiness and quality of life. You will then be empowered to produce the kind of
        | life that fulfills you and helps create success wherever you are.
      p
        | If you become a professional feng shui consultant by taking the whole 7 Steps to Feng Shui
        | Mastery course, you can then do this for others. This allows you to create tailor made
        | atmospheres to nurture people in all walks of life. Because you are dealing with the energy of
        | their space, plus all of their senses, clients can’t help but feel empowered and motivated to
        | achieve their goals. They usually can't keep the results quiet either, and tell their family and
        | friends which is exactly how i started, and it isn't long before they start calling you to do the
        | same with them. Your reputation spreads as naturally as ripples in water, reaching all corners
        | of your area.
      p
        | I would like us all to benefit from the beneficial influences that constantly surrounds us. After
        | all, the more energy you put into something the better results you get back. Using the natural
        | energy of our surroundings helps us to reduce stress, achieve our goals, find fulfilment and
        | improve our wellbeing and quality of life.
        b
          | &nbsp;You only have to realise how great nature is...from doing just that!
