.textSection__
  .textSection__container.container
    .textSection__container_text.container_text.bgWhite
      h4.textTitleMedium
        | ﻿I first came across the words
        b
          | &nbsp;Feng Shui&nbsp;
        | in a completely unrelated
        | fictitious novel, which I bought to take my mind off of the war zone
        | environment occuring at a Middle East airport on my way back from a business trip to the Gulf.
      p
        | ﻿Just seeing these two words sparked something within me and I began my quest to discover its secrets. Returning to the UK, I  enquired at several libraries where I was told that it was
        | possibly connected to either Origami... or the Kama Sutra… Not even close!
      p
        | ﻿In this same year of 1986 Black Hat feng Shui was beginning in the USA, which I tried myself for a while. Although, the results were not sustainable long term, I  had a fascinating glimpse into true Feng Shui.
      p
        | However, I instinctively knew this was just the tip of the iceberg, and felt there was so much more information missing, so decided to learn to read and even write Chinese, to discover these  hidden secrets.
      h4.textTitleMedium.italic
        | ﻿Although Alan studied with feng shui masters from east and west, his real training began during a fateful day that happened quite by accident…
      p
        | ﻿As fate had it, I helped a random stranger whose gratitude led to an introduction  to her father that happened to be a distinguished Master of True Feng Shui.
      p
        | ﻿His name was Master Fu and my life would never be the same again.
      p
        | ﻿Having shown virtue, Master Fu decided to teach me feng shui himself, over several years of full time study, on just how to unravel the centuries old secrets of True Feng Shui.
      p
        | ﻿Despite his incredible success Master Fu was a very humble and unassuming man, who valued virtues such as discretion and humility above all.
      p
        | ﻿Perhaps it was this new lease of life that helped him to decide to teach me, instead of a son he never had.
      h4.textTitleMedium.italic
        | ﻿He never taught feng shui to anyone else before or after, and sadly died in 2014. He is sorely missed.
      p
        | ﻿I am incredibly grateful to him for his unique teaching, and because of him I have been  able to train some of the best feng shui consultants in the business, as well as help many around the world get great results.
      h4.textTitleMedium.textCenter
        | ﻿Our  testimonials reaffirm this
      p
        | ﻿On graduating I started to practice professionally. My clients were so amazed that I could tell exactly what was happening in their lives by the way they had arranged there furniture, fixtures and fittings. Moreover, I could also tell them what to put there instead, to achieve their goals, and greatly improve their quality of life.
      p
        | ﻿Working primarily on personal referrals, my clients banded together and persuaded me to teach them all about true Feng Shui, and so in 1997 the
        b
          | &nbsp;Feng Shui School of Excellence&nbsp;
        | began. I taught them and every student since how to do this professionally, both in class and by distance learning.
      p
        | ﻿Since then, I have trained and continue to train consultants in many countries around the world. In 2000 I  helped set the industry standards and code of ethics.
      p
        | ﻿True feng shui has been kept a secret for millennia and used only amongst the elite and powerful to enrich their lives and attain success.
      p
        | ﻿As we can all benefit from feng shui, it is good to know that according to the universal principles of yin and yang, life alternates from one extreme to another.
      p
        | ﻿Master Fu and I shared the dream that one day children will be freely taught feng shui at school and that it could be used in hospital environments to aid healing and reduce stress.
      P
        | ﻿When used in nature, it helps plants and animals to thrive which would assist us to feed the world. Finally, using feng shui in our homes creates a nurturing sanctuary that attracts all.
      p
        | ﻿Now what a wonderful world that would be.
      h4.textTitleMedium
        | ﻿Why not join us in our quest by learning feng shui and help all make the most from their lives.
