extends _layouts/base



block content
  include _modules/header/header
  include _modules/navigation/navigation
  include _modules/bambo/bambo
  include _modules/alan/alan
  include _modules/photosPhraseSunset/photosPhrase
  include _modules/textSection1/textSection
  include _modules/photosPhraseSprout/photosPhrase
  include _modules/textSection2/textSection
  include _modules/photosPhraseCoal/photosPhrase
  include _modules/textSection3/textSection
  include _modules/quotes1/quotes
  include _modules/photosPhraseWater/photosPhrase
  include _modules/textSection4/textSection
  include _modules/photosPhraseFeng/photosPhrase
  include _modules/quotes2/quotes
  include _modules/photosPhraseCandle/photosPhrase
  include _modules/sevenSteps/sevenSteps
  include _modules/quotes3/quotes
  include _modules/photosPhrasePebble/photosPhrase
  include _modules/textSection5/textsection
  include _modules/quotes4/quotes
  include _modules/bonuses/bonuses
  include _modules/quotes5/quotes
  include _modules/aboutUs/aboutUs
  include _modules/quotes6/quotes

