.quotes.section
  .quotes__container.container
    .quotes__container-text.container_text
        p.quotes__text
          | “Just have to say - wow! Thank you for the course CD. I am absorbed,
          | enraptured, enthralled, and most of all grateful for this amazing detail. I
          | have had many bits and pieces, ideas of how it does indeed work, but
          | the connections did escape me. I purchased Chinese translations into
          | English that were really good information but the 'why in that order,
          | placement' connection was beyond this layman. My head is filled with
          | the landscape, the air, earth, water, minerals, fire but like never before.
          | I am getting it - in-side as well as in-head. I am so grateful to have this
          | comprehensive, understandable and oh so respectful material. I've
          | only just begun, but had to stop and say thank you.”
          br
          span.italic K Riley, USA
        p.quotes__text
          | “Material is FANTASTIC!!!! I enjoyed every bit of it - structured, logical
          | and extremely well explained, WOW!!!"
          | Monika - Switzerland
          | “I am really glad I joined this wonderful journey of Feng Shui. I am a
          | different person now, and the way I see and deal with the world has
          | fundamentally changed."
          br
          span.italic KS - USA
        p.quotes__text
          | “I have received the CD with the course. Let me say that it is very well
          | written with beautiful illustrations. Above all the knowledge is excellent,
          | you explain Feng Shui very well not like the “Pop Feng Shui” books.
          | Congratulations!"
          br
          span.italic Jose Cotta - Portugal
        p.quotes__text
          | “Great course! I've learnt things I'd never thought I'd be able to understand!
          | Thank you!"
          br
          span.italic MS - UK
        p.quotes__text
          | “Your course has transformed my life over the summer. I now have a
          | new position where I feel well, with a title and a promotion. I am Feng
          | Shuing my house and seeing things with new eyes. Everybody says I
          | look younger suddenly and happier. And most of all, for the first time in
          | a very long time, I feel at peace with myself."Monique Cardell - USA
          | The Key Concepts course is an excellent work which I enjoy studying
          | because I can understand completely the feng-shui-principles in depth
          | and how it works.”
          br
          span.italic Despina - Greece
        p.quotes__text
          | “I have read many books on feng shui, but this course is very cogently
          | written and thorough. I have really enjoyed what I have read so far.”
          br
          span.italic Joan - USA
        p.quotes__text
          | “I think the course is  brilliant value for money.”
          br
          span.italic Helen - UK
        p.quotes__text
          | “The course is very educational and I am surprised at some of the
          | things I learned already from it.”
          br
          span.italic Katherine - USA
        p.quotes__text
          | “I think your Key Concepts course is  brilliant! Once I started reading it, I
          | didn't want to stop!"
          br
          span.italic  K Tolhurst - UK
        p.quotes__text
          | “Super course, very enlightening!”
          br
          span.italic  AW - UK
        p.quotes__text
          | “I am enjoying the course very much, many thanks for the great work
          | that you are doing.”
          br
          span.italic  Christiaan de Wet – South Afric
