.sevenSteps
  .sevenSteps__container.container
    .sevenSteps__container-content.container_text.bgWhite
      p
        | This 7 Steps to feng Shui Mastery course consists of seven levels or modules, they each
        | contain multimedia interactive elements as well as full colour illustrations and images. They
        | will teach you everything you need to practice feng shui professionally and can help you get
        | amazing results for yourself and future clients.
      .sevenSteps__steps-list
        .sevenSteps__step
          .sevenSteps__step-main_wrap
            a.sevenSteps__step-main(href='#')
              .sevenSteps__step-number 1
              .sevenSteps__step-name
                .sevenSteps__step-name-light
                  | Feng Shui Key Conceptsb
                | Download Free Sample Pages
                | Watch Sample Video
                .sevenSteps__step-name-light
                  | from this course?
            a.popup-youtube.sevenSteps__popup-youtube(href="https://www.youtube.com/watch?v=dQw4w9WgXcQ")
              img(src='./images/social/youtube.png')
          img.sevenSteps__step-img(src='./images/course/kccd.jpg' alt='Feng Shui Key')
        .sevenSteps__step
          a.sevenSteps__step-main(href='#')
            .sevenSteps__step-number 2
            .sevenSteps__step-name Dowsing & Earth Acupuncture
          img.sevenSteps__step-img(src='./images/course/EarthCourse_1.png' alt='Dowsing & Earth Acupuncture')
        .sevenSteps__step
          a.sevenSteps__step-main(href='#')
            .sevenSteps__step-number 3
            .sevenSteps__step-name Nine Star Ki Astrology
          img.sevenSteps__step-img(src='./images/course/9skcover_1.png' alt='Nine Star Ki Astrology')
        .sevenSteps__step
          a.sevenSteps__step-main(href='#')
            .sevenSteps__step-number 4
            .sevenSteps__step-name Business & Office Feng Shui
          img.sevenSteps__step-img(src='./images/course/KCC_business_cover-_NEW_1.jpg' alt='Business & Office Feng Shui')
        .sevenSteps__step
          a.sevenSteps__step-main(href='#')
            .sevenSteps__step-number 5
            .sevenSteps__step-name Advanced I Ching & Wen Wang Gua
          img.sevenSteps__step-img(src='./images/course/KCC_I_Ching_covert_1.jpg' alt='Advanced I Ching & Wen Wang Gua')
        .sevenSteps__step
          a.sevenSteps__step-main(href='#')
            .sevenSteps__step-number 6
            .sevenSteps__step-name Advanced Flying Star Feng Shui
          img.sevenSteps__step-img(src='./images/course/KCC_flying_cover_1.jpg' alt='Advanced Flying Star Feng Shui')
        .sevenSteps__step
          a.sevenSteps__step-main(href='#')
            .sevenSteps__step-number 7
            .sevenSteps__step-name Advanced Four Pillars Of Destiny Chinese Astrology
          img.sevenSteps__step-img(src='./images/course/4p-cover_1.jpg' alt='Astrology')
      p
        | As our aim is to empower people we teach you how get real results right from the start. This
        | boosts your confidence and as clients are usually amazed by the results they receive, they tell
        | their friends, who may also need consultations, which grows your business exponentially.
      p
        | You will use traditional Chinese Feng Shui techniques which have been practiced for milenia
        | by the most successful feng shui masters. Moreover, each level of the course has detailed
        | case studies from Maser Alan’s own 30+ year experience working in the contemporary world,
        | where the results he has gained for his clients places him as one of the most respected feng
        | shui master and teacher. Step by step guides will show you how to apply these incredibly
        | efficient methods too, and should enable you to get the best results in any situation.
