.alan
  .alan__container.container
    .alan__container-text.container_text
      img.alan__img( Cashe-Control='max-age=600' src='./images/bg/Alan-Stirling.jpg' alt='Alan S.')
      h2.textTitle
        | ﻿From the Desk of Alan Stirling, Founder
        | of the True Feng Shui School of Excellence,
        | Founder of The Feng Shui Institute:
      p
        | ﻿All  you need to improve your life (and the lives of
        | others) is potentially slipping through your fingers
        | by not taking advantage of the energy already in your home or office.
      p
        | ﻿Your space is a mesocosm of the outside world in the same way that an atom
        | , the smallest building block of matter, is a replica of our own solar system.
      p
        | ﻿By changing one we change the other; that's where you, the microcosm comes in. After all, how many times have you felt better after redecorating your own home or living environment?
      p
        | ﻿Now by learning feng shui you can do this with purpose and read your environment to see the effect it is already having on your life. Furthermore, you can make subtle changes without
        | decorating, to invite the things that you want to happen manifest in your life
