.quotes.section
  .quotes__container.container
    .quotes__container-text.container_text
      p.quotes__text
          | “I've read books and practiced with my own home for the last 12 years
          | and I learned more in the first 15 pages of this course then in that
          | entire time"
          br
          span.italic PJ Dix - USA
      p.quotes__text
          | “I must say I read about the 4P (Four Pillars of Destiny Chinese
          | astrology) already in quite some books, but I was never satisfied with
          | the content. One blink through your course already shows me I will
          | make a good progress with it. Thanks for offering these courses"
          br
          span.italic Benny Belgium
        p.quotes__text
          | “I’ve more or less also read the books from Steve Gagné, Jon Sandifer
          | and Takashi Yoshikawa, and while some books had more detail about
          | some subjects, the real understanding behind it all came after going
          | through your course"
          br
          span.italic Benny - Belgium
        p.quotes__text
          | “I have received the CD with the course. Let me say that it is very well
          | written with beautiful illustrations. Above all the knowledge is excellent,
          | you explain Feng Shui very well, not like the "Pop Feng Shui" books.
          | Congratulations!"
          br
          span.italic Jose Cotta - Portugal
        p.quotes__text
          | “Excellent work, amazing, perfect. Congratulations on the wonderful
          | presentation"
          br
          span.italic R Gonzalez - Colombia, S America
        p.quotes__text
          | “Your I Ching course is very well done and you have explained many
          | things that had confused me before"
          br
          span.italic Indira - USA
        p.quotes__text
          | “I've Studied Feng Shui on my own for several years and read a lot of
          | books. I've found a comprehensive, well-structured, clear course in
          | your Key Concepts Feng Shui course"
          br
          span.italic J. D. Groef - Belgium
        p.quotes__text
          | “A plethora of excellent reading in this feng shui course CD"
          br
          span.italic E.C - Philippines
        p.quotes__text
          | “This course is great"
          br
          span.italic E Delikoura - Greece
        p.quotes__text
          | “As of now I Ching really blows my mind. Thanks for the great course"
          br
          span.italic David Chan - Malaysia
        p.quotes__text
          | “Congratulations. The course is clearly laid out, the illustrations are
          | great and the Powerpoint presentations a wonderful help in clarifying
          | the trickier concepts"
          br
          span.italic Nick - Belgium
        p.quotes__text
          | “Thank you so much for your very inspiring course"
          br
          span.italic Elena - France
        p.quotes__text
          | “Am so full of admiration for your Earth Acupuncture course and feel so
          | fortunate to have discovered your website. It has positively enriched
          | our lives and I am so grateful for sharing your insights and wisdom"
          br
          span.italic LM - USA
        p.quotes__text
          | A wonderful course"
          br
          span.italic Sooseebee - UK
        p.quotes__text
          | “I have really enjoyed this I ching course, it is very good indeed"
          br
          span.italic Chris - UK
        p.quotes__text
          | “Its amazing. I'm loving it"
          br
          span.italic Jose - Belgium
        p.quotes__text
          | “This I Ching course is SOOO cool!"
          br
          span.italic MJK - USA
        p.quotes__text
          | “I read a couple of "Western" Feng Shui books and there was something
          | that did not sit right with me. I couldn't help but wonder why they
          | had to come up with a "new" way. I am so excited! I needed this feng
          | shui course, and again I thank you for your time and kindness"
          br
          span.italic J Ellen - US
        p.quotes__text
          | “Super course, very enlightening!"
          br
          span.italic AW - UK
        p.quotes__text
          | “This feng shui course is brilliant value for money"
          span.italic
          span.italic Helen - UK
        p.quotes__text
          | “Love what I read and am so happy that I found you on the Internet.
          | Thank you"
          br
          span.italic Margrete - Norway
        p.quotes__text
          | “Am enjoying this feng shui course very much. Many thanks for the
          | great work you are doing”
          br
          span.italic C de Wet - S Africa
        p.quotes__text
          | “This I Ching course is great, the presentation is excellent and even
          | though the topic is quite complex the explanations are extremely clear,
          | which is very helpful"
          br
          span.italic Jose.De Groef - Belgium
        p.quotes__text
          | “Key Concepts course is brilliant! I didn't want to stop reading it!"
          br
          span.italic K Tolhurst UK
        p.quotes__text
          | “Thoroughly enjoying this Feng Shui course. Excellent"
          br
          span.italic T Hennigan - Eire
        p.quotes__text
          | “A great Feng Shui course"!
          br
          span.italic Larissa - UK
        p.quotes__text
          | “This Nine Star Ki course is magnificent!"
          br
          span.italic M Cardell - U.S.A
        p.quotes__text
          | "On a whim, I signed up for the taster session about 48hrs before it
          | started, not really knowing what I was letting myself in for. I had tried
          | to read about Feng Shui in the past and found it unfathomable. As I
          | soon discovered, Alan thankfully has a way of making what in the average
          | person's hands is an incredibly complex, impenetrable subject into
          | something logical, practical and easy to digest (and often times very
          | funny too). By lunchtime on the 1st day I was already certain I wanted
          | to take the full professional accreditation. The breadth and depth of
          | what we covered over the course of the year is asspan.italic unding and I can't
          | wait to start putting it into practice."Issy Class Of 2017
          | I came to this course simply to add another layer to my bow as an Interior
          | Designer, yet after being exposed to the vase dynamics of FENG
          | SHUI, I leave this course with the intention of making it my sole speciality.
          | What I have learnt has profoundly changed not only the direction
          | of my life, but also the very way in which I view it. The insight I
          | have gained into myself and my environment, as well as those around
          | me has been immeasurable. Knowing what I now know, I am just so
          | excited to start the next part of my journey and take what I had learnt
          | out into the world! Thank you Alan, Sachelle Class of 2017- UK
          | The more I study Feng Shui the more I realise how little I know and
          | how much there is to learn. It's disheartening to realise just how little I
          | did learn from other schools, but I suppose I had to start somewhere.
          | I'm so glad I did my course at a time when our school had links with
          | yourself, otherwise I'd still be blindly ignorant of traditional Feng Shui
          br
          span.italic teachings."LE Feng Shui Consultant - UK
        p.quotes__text
          | I've put into practice some of the things you've taught me over the past
          | few months and it's amazing!"VS Feng Shui Consultant/ Executive
          br
          span.italic Committee member - Feng Shui Society UK
        p.quotes__text
          | After just workshop one, we'd covered everything found in Feng Shui
          | books - and I'd read most of them! After that, the information just didn't
          | cease. A fantastic course for any true seeker of knowledge!"
          br
          span.italic AS Feng Shui Consultant - UK
        p.quotes__text
          | “I have always loved the philosophy behind Chinese medicine (I’m an
          | acupuncturist) and this takes me several steps on and also widens my
          | appreciation. I’m finding the course is well structured and simple to follow
          | but also challenging.”
          br
          span.italic Geraldine - UK
        p.quotes__text
          | "With such great teachers as Alan and Alison it's such a great opportunity.
          | I can't thank you enough for your support throughout this current
          | year - you each have a very different style of teaching that compliments
          | each other and has made the learning experience complete -
          | and very enjoyable"
          br
          span.italic KM - UK
        p.quotes__text
          | I'd taken feng shui courses before but wanted a more omprehensive
          | course. I'm so glad I came you to you - finally!"
          br
          span.italic LS Feng Shui Consultant - UK
        p.quotes__text
          | For me, the year was truly a triumph of personal growth, wisdom and
          | insight, and proved exactly what it means to be at the right place at the
          | right time."
          br
          span.italic IK Feng Shui Consultant - Finland
        p.quotes__text
          | “I read a couple books on "Western" Feng Shui, and there was something
          | that did not sit right with me. I couldn't help but wonder why they
          | had to come up with a "new" way. I am so excited! I needed this
          | course, and again I thank you for your time and kindness”
          br
          span.italic Jo Ellen - USA
        p.quotes__text
          | “After reading the first chapter you are left wondering why you have
          | been reading 'Basic' Feng Shui literature and it is only then that you realise
          | how little you know and how much more you will learn”
          br
          span.italic MT Feng Shui Practitioner - Nottingham UK
        p.quotes__text
          | "I was fortunate to have the opportunity to learn true traditional Feng
          | Shui with you, especially considering the fact that I did not really know
          | what Feng Shui was and decided to join spontaneously. Thank youvery much again for your teaching".S Cheves
          | I think you have done an excellent job. In the philosophical part, you
          | provide the information in an easy to understand pictorial manner that
          | even I, with my limited knowledge of English, can understand the Chinese
          | approach without getting lost in needless data. The practical part
          | seems to be written in a way that makes the more difficult concepts
          | easier to understand. I think I will have learned a lot about Feng Shui
          | when I have finished this course.Herbert Rhein - Germany"
          | Having taken several other on-line courses, as well as having done
          | other classroom studies, I believe I am in a position to comment on
          | your course, which I find rich in theory (which other courses lack), wellcomposed,
          | and well-worth the cost”
          br
          span.italic Evangelia - Johannesburg, South Africa
        p.quotes__text
          | “I feel very privileged to have learnt with you and know that we meet
          | the right people at the right time."C.S. Smith - UK
          | I would like to say that in my area there is interest in Feng Shui but
          | most of what is available is the western or black hat Feng Shui. I have
          | to say that I am pleased that I found your school and instruction as
          | when I say that I am studying Traditional Feng Shui based upon
          | physics, not the westernized version, people are quite impressed. I am
          | very grateful for the quality of both your course and instruction. Distance
          | learning can be challenging without direct interaction but I so appreciate
          | the help and direction I have been given. It is very important to
          | me to understand my courses as I wish to combine the practice of
          | Feng Shui with my organizing and home staging business which the
          | purpose is to bring harmony, comfort and beauty to one's space. Thank
          | you so very muspan.italic !"
          br
          span.italic Sherry - USA
